@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Frank+Ruhl+Libre:wght@300&family=Playfair+Display&display=swap');

:root{
   --headerFont: 'Bodoni Moda', serif;
   --mainFont: 'Playfair Display', serif;
   --darkGrey: #3D4249;
   --lightGrey: #abafb4;
   --medBlue: #D7E9FF;
   --yellow: #F4DFA9;
   --lighterBlue: #E8F2FF;
   --lightBlue: #EEF3FF;
   --white: #fcfafa;
   --borderRadius: 25px;
   --boxShadow: 8px 6px 9px 2px var(--lightGrey);
   --headerSize: 2em;
   --mainSize: 1em;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: var(--white);
   font-size: 0.9em;
   font-weight: 300;
   font-family: var(--mainFont);
}
button{
   background-color: var(--yellow);
   color: var(--darkGrey);
   padding: 1em 2em;
   border-radius: var(--borderRadius);
   border: none;
}
button:hover{
   background-color: var(--lightGrey);
   color: var(--yellow);

}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em;
}
/* Navbar */
.header{
display: flex;
flex-direction: column;
padding: 1em;
border-bottom: 2px solid var(--medBlue)
}
.header h1{
   text-align: center;
   color: var(--darkGrey);
   font-family: var(--headerFont);
   font-size: var(--headerSize);
}
.navbar{
 display: flex;
 justify-content: space-between;
 padding-block: 0.5em;
}
.navbar h4:hover{
   color: var(--yellow);
}
.active{
  border: 2px solid var(--medBlue);
  font-weight: bold;
  border-radius: var(--borderRadius);
  padding: 1em 2em;
}
/*About Me */


/* Contact Me */
.contactMe{
   border-radius: var(--borderRadius);
   box-shadow: var(--boxShadow);
   padding: 2em;
   width: 60%;
   margin: 3em;
}
.contactMe h2{
   text-align: center;
   font-family: var(--headerFont);
   font-size: var(--headerSize);
}
.contactMe form{
   display: flex;
   flex-direction: column; 
   align-items: center;
   gap: 1em;
  
}
.contactMe label{
   font-size: var(--mainSize);
}
.contactMe input, textarea{
   border-radius: var(--borderRadius);
   border: 1px solid var(--medBlue);
   padding: 0.5em;
   width: 80%;
}
.contactMe button{
   width: 30%;
}


/* Resume */
.resume{
   display: flex;
   flex-direction: column;
}
.resumeNavbar{
   display: flex;
   gap: 1.2em;
   font-size: 1.3em;
   margin-bottom: 1em;
   padding: 0.5em;
}
.resumeNavbar .active{
   border: 2px solid var(--medBlue);
   padding: 0.5em;
}
.frontEnd, .backEnd, .skills{
   text-align: center;
   gap: 2em;
   box-shadow: var(--boxShadow);
   border-radius: var(--borderRadius);
   padding: 1em;
   margin-bottom: 2em;
}
.frontEnd h3, .backEnd h3, .skills h3{
   font-size: 1.5em;
   font-family: var(--headerFont);
}
.frontEnd ul, .backEnd ul, .skills ul{
   padding: 1em;
}
.frontEnd li, .backEnd li, .skills li{
   list-style-type: none;
   padding-block: 0.5em;
}
.download{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
#downloadBtn{
   margin-left: 1em;
}
/* Projects */



/* Footer */
footer{
   display: flex;
   justify-content: flex-end;
   padding-right: 1em;
}


/* Not Found/ 404 Page */
.notFound{
   padding: 5em;
   text-align: center;
   display: flex;
   gap: 1em;
   flex-direction: column;
   font-size: var(--mainSize);
   box-shadow: var(--boxShadow);
}







@media only screen and (min-width: 768px){
   .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1em;
   }
   .navbar{
     padding: 0;
   }

}