/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fauna+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
:root{
   /* --headerFont: 'Abril Fatface', serif;
   --mainFont: 'Playfair', sans-serif; */
   --headerFont: 'Oswald', serif;
   --mainFont: 'Open Sans', sans-serif;
   --black: #181713;
   --darkBrown: #E43D12;
   --medBrown: #FF7C15;
   --lightBrown: #FF933D;
   --lightestBrown: #FFAE6E;
   --yellow: #FFB400;
   --lightGrey: #EBE9E1;
   --white: #F6F6F6;
   --lightCream:#F6F5F2;
   --medCream: #F3F2EE;
   --darkCream: #F0EFE8;
   --lightestPink: #F6A9BE;
   --lightPink: #F38CA9;
   --medPink: #F17496;
   --darkPink: #ED4672;
   --borderRadius: 25px;
   --boxShadow: 12px 12px 19px 7px var(--lightGrey);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: var(--lightCream);
   font-size: 16px;
   font-weight: 300;
   color: var(--black);
   font-family: var(--mainFont);
}
h1{
   font-size: 3.815rem;
   font-family: var(--headerFont);
   font-weight: 400;
   color: var(--darkBrown);
}
h2{
   font-size: 3.052rem;
   font-weight: 400;
   text-transform: capitalize;
   font-family: var(--headerFont);
}
h3{
   font-size: 2.441rem;
   font-family: var(--headerFont);
   font-weight: 400;
   text-transform: capitalize;
   letter-spacing: 0.1rem;
}
h4{
   font-size: 1.953rem;  
   font-family: var(--headerFont);
   font-weight: 300;
}
h5,  label{
   font-size: 1.563rem;
}
h6, li, p{
   font-size: 1.25rem;
}
a{
   text-decoration: none;
   font-size: 1rem;
   color: var(--white);
   font-family: var(--headerFont);
}
button, .button{
   background-color: var(--darkPink);
   color: var(--white);
   padding: 1em 2em;
   border-radius: var(--borderRadius);
   text-transform: uppercase;
   letter-spacing: 0.3rem;
   font-size: 1rem;
   border: 2px solid var(--lightestPink);
}
button:hover, .button:hover{
   background-color: var(--lightBrown);
   color: var(--darkBrown);

}
/* For the active Navlink */
.active{
  color: var(--darkBrown);
  font-weight: bold;
  border: 4px solid var(--darkPink);
  background-color: var(--lightestPink);
  border-radius: 55px;
  
}
.active a{
   color: var(--white);
}

/* Projects */
.projects{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
}
.project{
   max-width: 400px;
   height: 400px;
   box-shadow: var(--boxShadow);
   margin: 2em;
   padding-top: 2em;
   padding-inline: 2em;
   padding-bottom: 2em;
   border-radius: var(--borderRadius);
}
.project img{
   border-radius: 5px;
}
.projectInfo h3{
  font-weight: bold;
  font-family: var(--headerFont);
  padding-block: 0.5em;
  font-size: 1.5em;
}
.projectInfo a{
   float: right;
   padding-block: 0.5em;
}
.projectInfo a:hover{
   transform: scale(1.3);
}
#projPic:hover{
   filter: grayscale(100%);
   transition: all .5s;
   transform: rotate(5deg) scale(1);
}

/* Footer */
footer{
   display: flex;
   justify-content: center;
   align-items: center;
}
footer a:hover{
   transform: scale(1.2);
}

/* Not Found/ 404 Page */
.notFound{
   padding: 5em;
   text-align: center;
   display: flex;
   gap: 1em;
   flex-direction: column;
   font-size: var(--mainSize);
   box-shadow: var(--boxShadow);
}

