@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Frank+Ruhl+Libre:wght@300&family=Playfair+Display&display=swap');

:root{
   --headerFont: 'Bodoni Moda', serif;
   --mainFont: 'Playfair Display', serif;
   --darkGrey: #3D4249;
   --lightGrey: #abafb4;
   --medBlue: #D7E9FF;
   --yellow: #F4DFA9;
   --lighterBlue: #E8F2FF;
   --lightBlue: #EEF3FF;
   --white: #fcfafa;
   --borderRadius: 25px;
   --boxShadow: 12px 12px 19px 7px var(--lightGrey);
   --headerSize: 2em;
   --mainSize: 1em;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: var(--white);
   font-size: 0.9em;
   font-weight: 300;
   font-family: var(--mainFont);
}
button{
   background-color: var(--yellow);
   color: var(--darkGrey);
   padding: 1em 2em;
   border-radius: var(--borderRadius);
   border: none;
}
button:hover{
   background-color: var(--lightGrey);
   color: var(--yellow);

}

/* Navbar */
.header{
display: flex;
flex-direction: column;
padding: 1em;
border-bottom: 2px solid var(--medBlue)
}
.header h1{
   text-align: center;
   color: var(--darkGrey);
   font-family: var(--headerFont);
   font-size: var(--headerSize);
}
.navbar{
 display: flex;
 justify-content: space-between;
 padding-block: 0.5em;
 font-size: 0.7em;
}
.navbar h4:hover{
   color: var(--yellow);
}
.active{
  border: 2px solid var(--medBlue);
  font-weight: bold;
  border-radius: var(--borderRadius);
  padding: 1em 2em;
}
/*About Me */
.aboutMe{
   padding: 5em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2em;
}
.aboutMe img{
   border-radius: var(--borderRadius);
   border: 12px solid var(--medBlue);
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 2em;

}
.info h2{
   font-family: var(--headerFont);
   font-weight: bold;
   background-image: linear-gradient(90deg, var(--lightBlue), var(--yellow));
   background-position: bottom;
   background-size: 100% 30%;
   background-repeat: no-repeat;
}

/* Contact Me */
.contactMe{
   border-radius: var(--borderRadius);
   box-shadow: var(--boxShadow);
   padding: 2em;
   width: 100%;
}
.contactMe h2{
   text-align: center;
   font-family: var(--headerFont);
   font-size: var(--headerSize);
}
.contactMe form{
   display: flex;
   flex-direction: column; 
   align-items: center;
   gap: 1em;
}
.contactMe label{
   font-size: var(--mainSize);
}
.contactMe input, textarea{
   border-radius: var(--borderRadius);
   border: 1px solid var(--medBlue);
   padding: 0.5em;
   width: 80%;
}
.contactMe button{
   width: 60%;
}

/* Resume */
.resume{
   display: flex;
   flex-direction: column;
}
.resumeNavbar{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1.2em;
   font-size: 1.3em;
   margin-bottom: 1em;
   padding: 0.5em;
   font-size: 0.8em;
}
.resumeNavbar .active{
   border: 2px solid var(--medBlue);
   padding: 0.5em;
}
.frontEnd, .backEnd, .skills{
   text-align: center;
   gap: 2em;
   box-shadow: var(--boxShadow);
   border-radius: var(--borderRadius);
   padding: 1em;
   margin: 0 auto;
   margin-inline: 3em;
   margin-block: 2em;
 
}
.frontEnd h3, .backEnd h3, .skills h3{
   font-size: 1em;
   font-family: var(--headerFont);
}
.frontEnd ul, .backEnd ul, .skills ul{
   padding: 1em;
}
.frontEnd li, .backEnd li, .skills li{
   list-style-type: none;
   padding-block: 0.5em;
}
.download{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.download h2{
   font-size: 1em;
}
#downloadBtn{
   margin-left: 0.6em;
}
/* Projects */
.projects{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
}
.project{
   max-width: 400px;
   height: 400px;
   box-shadow: var(--boxShadow);
   margin: 2em;
   padding-top: 2em;
   padding-inline: 2em;
   padding-bottom: 2em;
   border-radius: var(--borderRadius);
}
.project img{
   border-radius: 5px;
}
.projectInfo h3{
  font-weight: bold;
  font-family: var(--headerFont);
  padding-block: 0.5em;
  font-size: 1.5em;
}
.projectInfo a{
   float: right;
   padding-block: 0.5em;
}
.projectInfo a:hover{
   transform: scale(1.3);
}
#projPic:hover{
   filter: grayscale(100%);
   transition: all .5s;
   transform: rotate(5deg) scale(1);
}

/* Footer */
footer{
   display: flex;
   justify-content: center;
   align-items: center;
}
footer a:hover{
   transform: scale(1.2);
}

/* Not Found/ 404 Page */
.notFound{
   padding: 5em;
   text-align: center;
   display: flex;
   gap: 1em;
   flex-direction: column;
   font-size: var(--mainSize);
   box-shadow: var(--boxShadow);
}

@media only screen and (min-width: 768px){
   .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1em;
   
   }
   .navbar{
     padding: 0;
     font-size: var(--mainSize);
   }
   .aboutMe{
      flex-direction: row;
   }
   .contactMe{
      width: 60%;
      margin: 0 auto;
   }
   .contactMe button{
      width: 30%;
   }
   .resumeNavbar{
      font-size: 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .frontEnd h3, .backEnd h3, .skills h3{
      font-size: 1.3em;
      
   }
   .frontEnd, .backEnd, .skills{
      margin: 0 auto;
      width: 60%;
   }
   .download h2{
      padding-top: 2em;
      font-size: 1.2em;
   }
   #downloadBtn{
      margin-top: 2em;
   }

   footer{
      justify-content: flex-end;
      padding-right: 1em;
   }


}